body{
	background: #c63a3a;
	width: 95%;
  color: #e9d4d4;
}

#caja{
	width: 330px;
	/*! height: 200px; */
	margin: 50px auto;
	background: #b91515;
	padding:25px;
	border-radius: 20px;
}

#cambiar{
	margin: 10px;
	border-radius: 8px;
	border: none;
	background: #e94330;
	color: #efedf0;
	height: 22px;
}

#volver{
	position: absolute;
	margin-left: 286px;
	margin-top: -32px;
	border-radius: 8px;
	border: none;
	background: #e94330;
	color: #efedf0;
	height: 22px;
}

#botonpdf {
	border-radius: 8px;
	border: none;
	background: #e94330;
	color: #efedf0;
	height: 22px;
}