#caja{
	width: 1020px;
	/*! height: 200px; */
	margin: 50px auto;
	background: #b91515;
	padding: 15px;
	border-radius: 20px;
	margin-top: 10px;
	margin-left: 160px;

}

input[type=submit] {
	margin-left: 934px;
	border-radius: 8px;
	border: none;
	background: #e94330;
	color: #efedf0;
	height: 22px;
	margin-top: -30px;
}



body{
	background: #c63a3a;
	width: 95%;
    color: #e9d4d4;
}

#saludo{

     margin-left: 840px;
     margin-top: -22px
}

img{
	border-radius: 10px;
    width: 1040px;
	height: 160px;
	margin-left: 165px;
}


#ac{
	background-color: #c63a3a;
	border-style: none;
	color: #fff;
	padding: 6px 12px;
	border-radius: 8px;
	box-shadow: 5px 5p 5px #fff;
	box-shadow: 2px 2px 3px #751b1b;
	margin-left: 446px;
	margin-top: 30px;
}


#ani{
	background-color: #c63a3a;
	border-style: none;
	color: #fff;
	padding: 6px 12px;
	border-radius: 8px;
	box-shadow: 5px 5p 5px #fff;
	box-shadow: 2px 2px 3px #751b1b;
	margin-left: 450px;
	margin-top: 10px;
}
